<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="sscp.ZPM">
    <Module>
      <Name>sscp</Name>
      <Version>0.0.2</Version>
      <Description>File Transfer over the InterSystems IRIS SuperServer</Description>
      <Keywords>Copy Files, Secure Copy</Keywords>
      <ExternalName>InterSystems Super Server Copy</ExternalName>
      <Author>
        <Person>Eduard Lebedyuk/Ron Sweeney</Person>
        <Organization>InterSystems</Organization>
        <CopyrightDate>2023</CopyrightDate>
      </Author>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="ZMSP.PKG"/>
    </Module>
  </Document>
</Export>
